#w-image-style.ds-image-style {
  height: 100%;
  width: 100%;

  .line-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
    width: 100%;
  }
  .style-item {
    margin-bottom: 10px;
  }
  .setting-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .options {
    margin-bottom: 0.7rem;
    &__upload {
      width: auto;
      margin-left: 10px;
      display: inline-block;
    }
    .icon {
      margin-right: 0.3em;
    }
  }

  .slide-wrap {
    margin-top: 18px;
    width: 100%;
    padding: 16px;
    background: @surface-2;
    border-radius: 6px;
  }

  .inner-bar {
    margin: 0 10px;
    width: 240px;
  }
}
