.ds-folder-menu {
  .item {
    width: 224px;
  }
  .item--toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    .tick {
      color: @accent;
      font-size: 14px;
    }
  }
}
