#text-input-area {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 12px;
  width: 100%;
  .input-label {
    user-select: none;
    padding-right: 14px;
    line-height: 28px;
    font-size: 14px;
    color: @ink-3;
  }
  .input-wrap {
    border-radius: 3px;
    border: 1px solid @line;
    flex: 1;
    padding: 5px;
    .real-input {
      border-radius: 3px;
      border: 0px;
      outline: none;
      resize: none;
      width: 100%;
    }
    .real-input.disable {
      color: @ink-2;
      cursor: not-allowed;
    }
  }
  .input-wrap.active {
    border: 1px solid @accent;
    box-shadow: 0 0 0 2px @accent-a25;
  }
}
