#w-group-style {
  height: 100%;
  width: 100%;

  .line-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .select {
    margin-bottom: 10px;
  }
  .ungroup {
    background-color: @accent;
    color: @accent-on;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    text-align: center;
    &:hover {
      background-color: @accent-hover;
    }
  }
  .block-btn {
    width: 100%;
    margin-bottom: 1rem;
  }
}
