@import '../assets/styles/design.less';

.ds-psd-view {
  .uploader {
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    &__box {
      color: @ink-2;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  .v-tips {
    padding: 0 1rem;
    font-size: 15px;
    color: @ink-2;
  }
}
