.position-size {
  display: flex;
  align-items: center;
  width: 100%;
  .number-input {
    flex: 0.2;
  }
  .icon {
    cursor: pointer;
    font-size: 19px;
  }
  .sd-fdb,
  .sd-db {
    color: @ink-3;
    margin: 0 6px 0 -4px;
  }
  .sd-db {
    color: @ink;
  }
}
