.inner-tool-bar {
  position: fixed;
  z-index: 999999;
  margin-top: -57px;
  padding: 5px;
  font-size: 13px;
  background: @popover;
  border-radius: 3px;
  box-shadow: @shadow-pop;
  display: flex;
  align-items: center;
}
