@import '../assets/styles/design.less';

.ds-draw-view .fixed-canvas #page-design-canvas {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

.layer-hover {
  outline: 0 !important;
}
