@import '../assets/styles/design.less';

#page-draw-html-wrap {
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  scrollbar-width: none;
  #main {
    overflow: hidden;
  }
}

#page-draw-html-wrap::-webkit-scrollbar {
  display: none;
}

.layer-hover {
  outline: 0 !important;
}
