#w-image-style.ds-svg-style {
  height: 100%;
  width: 100%;

  .slide-wrap {
    width: 100%;
    padding: 16px;
    background: @surface-2;
    border-radius: 6px;
  }
  .line-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .style-item {
    margin-bottom: 10px;
  }
  .setting-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .options {
    margin-bottom: 0.7rem;
  }
}
