#w-image-style.ds-qrcode-style {
  height: 100%;
  width: 100%;

  .slide-wrap {
    width: 100%;
    padding: 16px;
    background: @surface-2;
    border-radius: 6px;
  }
  .line-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 8px;
    width: 100%;
  }
  .style-item {
    margin-bottom: 10px;
  }
  .setting-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .options {
    &__upload {
      width: auto;
      display: inline-block;
    }
  }
  .selector {
    width: 340px;
    transform: scale(0.94);
  }
  .logo__layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    height: 40px;
  }
}
